#map-container {
  position: relative;
  display: flex;
  flex: 1;
}

#map {
  width: 100%;
}

@media only screen and (min-width: 991px) {
  #map-container {
    flex: 2;
  }
}

@media only screen and (min-width: 1243px) {
  #map-container {
    flex: 3;
  }
}
