#sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
  height: 100vh;
  overflow: auto;
  position: relative;
}

#sidebar h1 {
  font-size: 1.5rem;
  margin: 10px 0 15px;
}
