#main {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

@media only screen and (min-width: 991px) {
  #main {
    flex-direction: row-reverse;
  }
}

.no-locations {
  color: red;
}
